.button{
	display: inline-block;
	background-color: var(--blue-robbon);
	color: var(--white);
	font-size: 14px;
	line-height: 40px;
	height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipisis;
	max-width: 100%;
	padding: 0 15px;
	border-radius: 100px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .3px;
	font-weight: 600;
	border: 0;
	box-shadow: 0 9px 21px 0 rgba(#1c4bfb, .3);
	transition: opacity .3s ease-in-out;
}

.button:active{
	transform: translateY(3px);
}

.button--cancel{
	width: 30px;
	height: 30px;
	background-color: #d42027;
	flex-shrink: 0;
	color: transparent;
	border-radius: 100%;
	position: relative;
	box-shadow: none;
	padding: 0;
}

.button--flat{
	color: var(--blue-robbon);
	background-color: transparent;
	box-shadow: none;
}

.button--cancel::before,
.button--cancel::after{
	width: 50%;
	height: 3px;
	position: absolute;
	content: '';
	background-color: white;
	top: calc((100% - 3px)/2);
	left: calc((100% - 50%)/2);
	border-radius: 5px;
}

.button--cancel::before{
	transform: rotate(45deg);
}

.button--cancel::after{
	transform: rotate(-45deg);
}

.button:hover, 
.button--cancel:hover, 
.button--flat:hover{
	opacity: .6;
}