.recipient {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipient__title {
  font-size: 15px;
  color: #1c4bfb;
  font-weight: 600;
}

.recipient__text {
  font-size: 15px;
  color: var(--oslo-gray);
  font-weight: 400;
}

.recipient__input {
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.recipient__input:checked ~ .recipient__label {
  color: #1c4bfb;
  text-decoration: line-through;
}

.recipient__input:checked ~ .recipient__input-placeholder {
  background: #1c4bfb;

  &::after,
  &::before {
    opacity: 1;
  }
}

.recipient__input-placeholder {
  position: absolute;
  top: calc((100% - 16px) / 2);
  left: 1px;
  z-index: 0;
  width: 16px;
  height: 16px;
  background: white;
  border: 2px solid #1c4bfb;
  border-radius: 4px;
  transition: background .3s ease;
}

.recipient__input-placeholder::before,
.recipient__input-placeholder::after {
  position: absolute;
  height: 2px;
  content: '';
  background: white;
  border-radius: 10px;
  opacity: 0;
  transition: opacity .3s ease-in-out .1;
}

.recipient__input-placeholder::before {
  width: 5px;
  bottom: 4px;
  left: 1px;
  transform: rotate(45deg);
}

.recipient__input-placeholder::after {
  width: 8px;
  top: 5px;
  right: 1px;
  transform: rotate(-45deg);
}

.recipient__image {
  margin: 0 1em 0 2em;
  border: 2px solid white;
  box-shadow: 0 0 20px 0 rgba(gray, .5);
  border-radius: 100%;
}

.recipient__details {
  margin-right: auto;
}