$input-height: 30px;
$inner-spacing: .9em;

.form {
  display: flex;
  flex-direction: column;
}

.form__part + .form__part {
  margin-top: calc(3 * .9em);
}

.form__heading {
  margin: 0 0 .9em;
  font-size: 20px;
  color: #1c4bfb;
}
.form__part--flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__field-wrapper {
  margin-top: .9em;
  display: flex;
  align-items: center;

}

.form__icon {
  width: 30px;
  height: auto;
  display: none;
}

.form__label {
  margin-bottom:.9em / 2;
  font-size: 13px;
}

.form__input {
  height: 30px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--alto);
  outline: none;
  transition: border .3s ease-in-out;
}

.form__input::placeholder {
  //
}

.form__input:active,
.form__input:focus {
 border-bottom: 1px solid var(--border-color);
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__field + .form__field {
  //
}

.form__action {
  //
}

.form__actions {
  margin-top: calc(3 * .9em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__image{
  margin-right: 20px;

}

@media (min-width: 600px) {
  .form__part--flex {
    flex-direction: row;
    align-items: center;
  }

  .form__part--flex + .form__part--flex {
   //
  }

  .form__field-wrapper {
    width: 100%;
  }

  .form__field-wrapper--spaced {

  }

  .form__field-wrapper--spaced + .form__field-wrapper--spaced {
    margin-left: 20px;
  }

  .form__field {

  }

  .form__field--spaced {
    //
  }

  .form__field--spaced + .form__field--spaced {
   margin-left: 20px;
  }

  .form__icon {
    display: block;
    margin-right: 20px;
  }

  .form__action {
    //
  }

  .form__actions {
    flex-direction: row;
    justify-content: space-between;
  }
}

.error {
  position: absolute;
  left: 0;
  bottom: -14px;
  font-size: .7em;
}